.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

img.image_logo {
    width: 70px;
    margin-top: 14px;
    border-radius: 75px;
    height: 50px;
}

ul.list_items {
    display: flex;
    list-style-type: none;
    gap: 15px;
    font-size: 20px;
}

.header_list {
    margin-right: 50px;
}
.header_list ul li {
    cursor: pointer;
}

.header_image {
    margin-left: 50px;
}
.header_image img {
    cursor: pointer;
}
a{
    text-decoration: none;
}